server:
  port: 8084

spring:
  application:
    name: cert-service
  cloud:
    openfeign:
      client:
        config:
          default:
            connectTimeout: 10000  # 10초로 증가
            readTimeout: 30000     # 30초로 증가
            loggerLevel: basic
          qnetClient:
            connectTimeout: 10000  # Q-Net API용 타임아웃
            readTimeout: 30000
          datagoClient:
            connectTimeout: 10000  # data.go.kr API용 타임아웃
            readTimeout: 30000

management:
  endpoints:
    web:
      exposure:
        include: '*'

eureka:
  client:
    service-url:
      defaultZone: http://discovery:8761/eureka

cert:
  qnet:
    # 공공데이터포털 인증키 (Decoding된 키 사용)
    # Encoding: k1GJ%2FDtJfl8rlKVpZzcqeunjXV8uloebdv0ZViQf%2B0NKUoTcZMNndn%2Be3nYjkIV2TG6iK%2BhjFsz67b1rfv%2BPBQ%3D%3D
    # Decoding: k1GJ/DtJfl8rlKVpZzcqeunjXV8uloebdv0ZViQf+0NKUoTcZMNndn+e3nYjkIV2TG6iK+hjFsz67b1rfv+PBQ==
    key: ${CERT_QNET_SERVICE_KEY:k1GJ/DtJfl8rlKVpZzcqeunjXV8uloebdv0ZViQf+0NKUoTcZMNndn+e3nYjkIV2TG6iK+hjFsz67b1rfv+PBQ==}
    base-url: https://openapi.q-net.or.kr/api/service/rest
    data-url: https://apis.data.go.kr/B490007
    timeout: 5000

resilience4j:
  circuitbreaker:
    instances:
      qnetClient:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 60s
      datagoClient:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 60s
  retry:
    instances:
      qnetClient:
        maxAttempts: 3
        waitDuration: 500ms
      datagoClient:
        maxAttempts: 3
        waitDuration: 500ms

auth:
  jwt:
    secret: ${AUTH_JWT_SECRET:${JWT_SECRET:your-super-secure-secret-key123456}}