server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      # 프런트 개발용 전역 CORS 허용
      globalcors:
        corsConfigurations:
          "[/**]":
            allowedOrigins:
              - http://localhost:5173
              - http://localhost:3000
              - http://210.110.33.222:3000
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        - id: account-service
          uri: lb://account-service
          predicates:
            - Path=/api/account/**

        - id: account-swagger-ui
          uri: lb://account-service
          predicates:
            - Path=/api/account/swagger-ui/**

        - id: account-openapi
          uri: lb://account-service
          predicates:
            - Path=/api/account/v3/api-docs/**

        - id: study-service
          uri: lb://study-service
          predicates:
            - Path=/api/study/**

        - id: study-swagger-ui
          uri: lb://study-service
          predicates:
            - Path=/api/study/swagger-ui/**

        - id: study-openapi
          uri: lb://study-service
          predicates:
            - Path=/api/study/v3/api-docs/**

        - id: progress-service
          uri: lb://progress-service
          predicates:
            - Path=/api/progress/**

        - id: progress-swagger-ui
          uri: lb://progress-service
          predicates:
            - Path=/api/progress/swagger-ui/**

        - id: progress-openapi
          uri: lb://progress-service
          predicates:
            - Path=/api/progress/v3/api-docs/**

        - id: cert-serivce
          uri: lb://cert-service
          predicates:
            - Path=/api/cert/**

        - id: cert-swagger-ui
          uri: lb://cert-service
          predicates:
            - Path=/api/cert/swagger-ui/**

        - id: cert-openapi
          uri: lb://cert-service
          predicates:
            - Path=/api/cert/v3/api-docs/**

        - id: versus-serivce
          uri: lb://versus-service
          predicates:
            - Path=/api/versus/**

        - id: versus-swagger-ui
          uri: lb://versus-service
          predicates:
            - Path=/api/versus/swagger-ui/**

        - id: versus-openapi
          uri: lb://versus-service
          predicates:
            - Path=/api/versus/v3/api-docs/**

        - id: community-serivce
          uri: lb://community-service
          predicates:
            - Path=/api/community/**

        - id: community-swagger-ui
          uri: lb://community-service
          predicates:
            - Path=/api/community/swagger-ui/**

        - id: community-openapi
          uri: lb://community-service
          predicates:
            - Path=/api/community/v3/api-docs/**

  main:
    web-application-type: reactive

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery:8761/eureka
